<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hats Chat</title>
    <meta name="description" content="An example chat app built with my HATS web stack.">
    <meta name="author" content="TheDrJosh">
    <link rel="icon" href="/assets/favicon.ico">
    <link href="/assets/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
</head>

<body class="w-screen h-screen flex flex-col dark:text-white overflow-hidden">
    <nav class="flex flex-row p-3 header-color">
        <div class="flex-initial flex">
            <img src="/assets/icon.avif" class="w-16 h-16" alt="">
            <h1 class="col-start-2 self-center ml-5 text-4xl font-bold tracking-tight">Hats Chat</h1>
        </div>
        <div class="flex-1"></div>
        <div class="flex flex-col group mr-1">
            <div class="flex flex-col">
                <img id="profile_pic" src="/profile_pictures/{{ base_info.username }}"
                    class="w-12 h-12 flex-initial justify-self-end self-center mr-1 rounded-full" alt="profile-picture">
                <span for="profile_pic" class="text-center">{{ base_info.display_name }}</span>
            </div>

            <div class="hidden alt-color w-28 z-10 group-hover:block rounded -mb-28 -mr-4 -ml-4">
                <a class="px-3 py-4 block bg-opacity-0 hover:bg-black hover:bg-opacity-50 rounded text-center"
                    href="/account/{{ base_info.username }}">Account</a>
                <span
                    class="px-3 py-4 block bg-opacity-0 hover:bg-black hover:bg-opacity-50 rounded cursor-pointer text-center"
                    hx-post="/api/auth/user/logout">Sign Out</span>
            </div>
        </div>
    </nav>
    <div class="flex flex-row w-full h-full overflow-hidden">
        {% include "components/friends_list.html" %}
        {% include "components/chat_window.html" %}
    </div>
    <div id="modal-holder" class="fixed">
    </div>
</body>

</html>