<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hats Chat</title>
    <meta name="description" content="An example chat app built with my HATS web stack.">
    <meta name="author" content="TheDrJosh">
    <link rel="icon" href="/assets/favicon.ico">
    <link href="/assets/output.css" rel="stylesheet">
</head>

<body class="flex w-screen h-screen bg-cyan-600 dark:bg-slate-700 dark:text-white">
    <div class="flex flex-col m-auto w-3/4 h-3/4 bg-cyan-400 dark:bg-slate-900 rounded-xl">
        <h1 class="mb-0 m-auto text-8xl font-black tracking-tighter">Page Not Found</h1>
        <a href="/" class="mt-20 m-auto bg-cyan-200 dark:bg-slate-600 px-5 py-3 rounded">Go Home</a>
    </div>
</body>

</html>