<div id="chat_window" class="flex-1 base-color flex flex-col overflow-hidden w-full h-full">
    {% match chat_window_info %}
    {% when Some with (chat_window_info) %}
    <ol id="chat" class="flex flex-col-reverse m-3 overflow-auto h-fit flex-1" hx-ext="sse"
        sse-connect="/api/chat/event/{{chat_window_info.recipient_name}}" sse-swap="message" hx-target="#chat_window">
        {% for (id, message, time) in chat_window_info.messages.iter().rev() %}
        {% include "components/chat_message.html" %}
        {% endfor %}
    </ol>
    <form class="bg-cyan-300 dark:bg-slate-500 px-5 py-3 flex flex-row"
        hx-post="/api/chat/{{chat_window_info.recipient_name}}" hx-swap="none">
        <input type="text" class="rounded-lg w-full text-box-color p-1" name="message">
        <button type="submit" class="m-1 p-1 button-color rounded-lg">send</button>
    </form>
    {% when None %}
    <div class="flex flex-col content-center m-auto w-96">
        <h1 class="text-5xl font-bold tracking-tight m-4 text-center">Get Started!</h1>
        <p class="text-center m-4">If you have already chatted you can resume chatting with the bar on the left.</p>
        <span class="text-center m-4">or</span>
        <p class="text-center m-4">If your new or want to talk to someone new click the "find a friend" button in the bottom left.</p>
    </div>
    {% endmatch %}
</div>