<div class="fixed left-0 right-0 w-full h-full bg-black bg-opacity-50" hx-target="#modal-holder" hx-get="/inner/empty" hx-trigger="keyup[event.key == 'Escape']">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 base-color px-4 py-6 w-[48rem] h-96 rounded-lg overflow-hidden">
    <span class="float-right w-6 leading-6 text-center cursor-pointer rounded button-color text-2xl"
      hx-target="#modal-holder" hx-get="/inner/empty">&times;</span>
    <h1 class="text-xl font-medium mb-5">Find a friend</h1>
    <input name="search" type="search" class="w-full h-10 p-2 rounded text-box-color mb-3"
      hx-target="#find-friend-list" hx-post="/inner/modal/list" hx-trigger="keyup changed delay:500ms">
    <div class="overflow-scroll h-full">
      <ol id="find-friend-list"></ol>
    </div>
  </div>
</div>