{% for (i, name) in name_list.iter().enumerate() %}
<li>
    <!-- light mode needed -->
    <a class="flex flex-row p-5 {% if i % 2 == 1 %} bg-slate-700 {% endif %} hover:bg-slate-500" href="/chat/{{ name.username() }}">
        <img src="/profile_pictures/{{ name.username() }}" class="w-12 h-12 rounded-full">
        <span class="flex-1"></span>
        <div class="flex-1 self-center text-lg font-semibold">{{ name.display_name() }}</div>
        <span class="flex-1"></span>
        <div class="flex-1 self-center">{{ name.username() }}</div>
    </a>
</li>
{% endfor %}