<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hats Chat</title>
    <meta name="description" content="An example chat app built with my HATS web stack.">
    <meta name="author" content="TheDrJosh">
    <link rel="icon" href="/assets/favicon.ico">
    <link href="/assets/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<body class="w-screen h-screen flex flex-col dark:text-white bg-cyan-600 dark:bg-slate-700">
    <div id="box" class="w-1/2 h-3/4 flex flex-col m-auto bg-cyan-400 dark:bg-slate-900 rounded-xl items-center">
        {% block main %}{% endblock %}
    </div>
</body>

</html>