{% extends "auth/base.html" %}
{% block main %}
<h1 class="mt-auto text-4xl font-bold tracking-tight mb-5">Log in</h1>
<form class="flex flex-col" hx-post="/api/auth/user/login" hx-target="#box">
        <label for="username" class="mb-1">Username or Email</label>
        <input name="username" id="username" type="text" class="rounded-lg bg-cyan-50 dark:bg-slate-400 p-2" required>
        {{error.clone().unwrap_or_default()}}
        <label for="password" class="mt-2 mb-1">Password</label>
        <input name="password" id="password" type="password" class="rounded-lg bg-cyan-50 dark:bg-slate-400 p-1"
                required>
        <button type="submit" class="mt-7 mb-2 bg-cyan-50 dark:bg-slate-400 rounded-lg w-1/2 self-center">Log
                in</button>
</form>
<p class="mb-auto">If you don't have an acount <a hx-get="/signup" hx-target="closest #box" hx-push-url="true"
                class="active:no-u2nderline underline text-blue-500 cursor-pointer">sign up</a>.
</p>
{% endblock %}